@media screen and (max-width: 992px){
	.lorem .circle .circle_all{
		margin-left: 200px;
		margin-bottom: 20px;
	}
	.news-block-main{
		margin-left: 30px;
	}
	.footer .wrapper .sub_menu{
		margin-left: -60px;
	}
	.footer .wrapper .sub_menu_4{
		margin-right: -60px;
	}
	.footer .wrapper .sub_menu_1{
		margin-left: 60px;
	}
}
@media screen and (max-width: 768px){
	.wrapper{
		max-width: 700px;
    	margin: 0 auto;
	}
	.flower .text_header{
		top: 250px;
	}
	.news-img img{
		margin-left: 0px;
	}
	.lorem .circle .circle_all{
		margin-left: 120px;
	}
	.footer .wrapper .ellipse_block{
		width: 150px;
	}
	.footer .wrapper p{
		float: left;
    	margin-left: -35px;
    	font-size: 10px;
	}
	.footer .wrapper{
		 margin-left: 95px; 
	}
	.footer .wrapper .sub_menu_1{
		margin-left: -60px;
	}

}
@media screen and (max-width: 480px){
	.header{
		line-height: 50px;
	}
	.header .wrapper .menu ul{
		margin-right: 0;
		padding: 1px 10px 0px 10px;
	}
	.header .wrapper .logo{
		float: none;
		text-align: center;
	}
	.flower .text_header{
		top: 140px;
	}
	.flower .text_header h1{
		font-size: 40px;
	}
	.footer .wrapper .sub_menu h3{
		margin: 4px 75px 10px 0px;
	}
	.footer .wrapper .sub_menu{
		margin-left: -80px;
	}
	.footer .wrapper .ellipse_block{
		width: 80%;
		padding: 0;
	}
	.footer .wrapper .sub_menu{
		margin-left: -90px;
    	width: 205px;
	}
	.footer .wrapper .sub_menu_4{
		width: 110px;
	}
	.footer .wrapper .sub_menu h3{
		width: 100px;
		margin-right: 10px;
	}
	.footer .wrapper{
		margin-left: 0px;
	}
	.footer .wrapper .sub_menu_1{
		margin-left: 10px !important;
	}
	.footer .wrapper p{
		float: right;
    	margin: -50px 7px 0px 0px;
	}
}	
	@media screen and (max-width: 320px){
		.header{
			line-height: 28px;
		}
		.header .wrapper .logo{
			font-size: 25px;
		}
		.flower .text_header{
			top: 115px;
		}
		.flower .text_header h1{
			font-size: 25px;
		}
		.flower .text_header h2{
			font-size: 20px;
		}
		.lorem .circle .circle_all{
			margin-left: 75px;
		}
		.news-img img{
			margin-left: 40px;
		}
		.news-text{
			margin-right: 20px;
		}
		.footer .wrapper .sub_menu{
			display: none;
		}
		.footer .wrapper .ellipse_block{
			padding: 20px 10px 60px 20px;
			width: 100%;
		}


	}



