.clearfix() {
  overflow: hidden;
  zoom:1;
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
.font-face(@name, @file, @style: normal, @weight: normal) {
    font-family: @name;
    src: url('../font/@{file}.eot');
    src: url('../font/@{file}.eot?#iefix') format('embedded-opentype'),
         url('../font/@{file}.woff') format('woff'),
         url('../font/@{file}.ttf') format('truetype'),
         url('../font/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
    font-style: @style;
    font-weight: @weight;
}
.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: white, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}