@import "mixing";
@font-face {
	font-family: 'logo_text_stile';
	src: url('../fonts/Lavanderia Delicate.eot');
	src: local('☺'), url('../fonts/Lavanderia Delicate.woff') format('woff'), url('../fonts/Lavanderia Delicate.ttf') format('truetype'), url('../fonts/Lavanderia Delicate.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SegoeUIRegular';
	src: url('fonts/SegoeUIRegular.eot');
	src: local('☺'), url('../fonts/SegoeUIRegular.woff') format('woff'), url('../fonts/SegoeUIRegular.ttf') format('truetype'), url('../fonts/SegoeUIRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AlteHaasGroteskBold';
	src: url('fonts/AlteHaasGroteskBold.eot');
	src: local('☺'), url('../fonts/AlteHaasGroteskBold.woff') format('woff'), url('../fonts/AlteHaasGroteskBold.ttf') format('truetype'), url('../fonts/AlteHaasGroteskBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'univers-light-normal';
	src: url('fonts/ufonts.com_univers-light-normal.eot');
	src: local('☺'), url('../fonts/ufonts.com_univers-light-normal.woff') format('woff'), url('../fonts/ufonts.com_univers-light-normal.ttf') format('truetype'), url('../fonts/ufonts.com_univers-light-normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}
body {
	scroll-behavior: smooth; /* плавный скролл */
}
.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	ul{
		list-style: none;
	}
}
.header{
	height: 90px;
	line-height: 90px;
	background-color: rgba(255,255,255, 0.75);
	position: fixed;
	width: 100%;
	.wrapper{
		.menu{
			& ul li a{
				text-decoration: none;
				color: #fff;
				color: #454545;
			}
			& ul li{
				margin-right: 30px;
				float: left;
				font-family: 'Conv_SegoeUIRegular';
				font-size: 17px;
				font-weight: 400;
			}
			& ul{
				float: right;
				margin-right: 60px;
			}
			& ul li:last-child{
				margin-right: 0;
			}
			& button{
				width: 87px;
				height: 27px;
				border-radius: 2px 3px 3px 2px;
				background-color: #de6d6e;
				text-align: center;
				border: none;
				font-family: 'Conv_SegoeUIRegular';
				color: rgba(255,255,255, 0.8);
			}
			& button img{
				margin: 0 4px -2px -5px;
			}
		}
		.logo{
			font-family:'logo_text_stile';
			font-size: 41px;
			float: left;
			color: #000000;
			font-weight: 600;
			.pink{
				color: #b73958;
			}
		}
	}
}
.flower img{
	width: 100%;
}
.flower .text_header{
	position: absolute;
	top: 483px;
	text-align: center;
	width: 100%;
	& h1{
		text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
		color: #ffffff;
		font-family: "Conv_AlteHaasGroteskBold";
		font-size: 69px;
		font-weight: 400;
		text-transform: uppercase;
	}
	& h2{
		text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
		color: #ffffff;
		font-size: 25px;
		font-weight: 300;
		font-family: "univers-light-normal";
	}
}
.lorem .circle{
	text-align: center;
	.clearfix();
	& .circle_all{
		width: 179px;
		height: 179px;
		border-radius: 50%;
		float: left;
		margin-left: 125px;
		color: #ffffff;
		font-family: "univers-light-normal";
		font-size: 17px;
		font-weight: 300;
		overflow: hidden;
		& img{
			margin-top: 40px;
			-webkit-transition: all 0.5s;
			   -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			     -o-transition: all 0.5s;
			        transition: all 0.5s;
		}
		& p{
			-webkit-transition: all 0.5s;
			   -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			     -o-transition: all 0.5s;
			        transition: all 0.5s;
		}
		&:hover{
			& img{
				opacity: 0.3;
				filter: blur(15px);
			}	
			.circle-hidden-text{
				left: 0;
				-webkit-transform: rotate(360deg);
				   -moz-transform: rotate(360deg);
				    -ms-transform: rotate(360deg);
				     -o-transform: rotate(360deg);
				        transform: rotate(360deg);
				 
			}
			& p{
				opacity: 0.3;
				filter: blur(15px);				
			}
		}
		.circle-hidden-text{
			padding: 10px;
			position: relative;
			-webkit-transition: all 0.3s;
			   -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			     -o-transition: all 0.3s;
			        transition: all 0.3s;
		    left: -200px;
		    bottom: 60%;
		    font-size: 12px;		 
		}
	}
	& .circle_1{
		background-color: #4eb9f4;
		margin-left: 4px;
	}
	& .circle_2{
		background-color: #6fc125;
		& img{
			margin-top: 50px;
		}
	}
	& .circle_3{
		background-color: #ff5649;
		& img{
			margin-left: 15px;
		}
	}
	& .circle_4{
		background-color: #e48f23;
	}

}
.lorem .text_lorem{
	margin-top: 65px;
	margin-bottom: 85px;
	text-align: center;
	padding: 10px;
	& h3{
		font-family: "univers-light-normal";
		color: #404040;
		font-size: 35px;
		font-weight: 300;
	}
	& .text_lorem_mini{
		color: #636363;
		font-family: "univers-light-normal";
		font-size: 17px;
		font-weight: 300;
	}
}
	.news-wrap{
		padding-top: 100px;
	}

	.news-block-main{
		margin-bottom: 40px;
	}

	.news-img{
		width: 199px;
		height: 132px;
		float: left;
		clear: both;
		margin-right: 30px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.news-title{
		color: #404040;
		font-family: "univers-light-normal";
		font-size: 27px;
		font-weight: 300;
		margin-bottom: 15px;
	}
	.news-text{
		font-family: "univers-light-normal";
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
	}
	.footer{
		width: 100%;
		height: 258px;
		background-image: url(../img/footer_bg.png);
	}
	.footer .wrapper .sub_menu{
		float: left;
		.clearfix();
		& h3{
			color: #aeaeae;
			font-family: "univers-light-normal";
			font-size: 21px;
			font-weight: 300;
			line-height: 22px;
			margin: 37px 104px 25px 0;
		}
		& ul li{
			color: #8b8b8b;
			font-family: "univers-light-normal";
			font-size: 15px;
			font-weight: 300;
			line-height: 22px;
		}
	}
	.footer .wrapper .ellipse_block{
		.clearfix();
		padding-top: 50px;
	}
	.footer .wrapper .ellipse{
		line-height: 30%;
		float: left;		
		width: 52px;
		height: 52px;
		background-color: #696b6a;
		border-radius: 50%;
		margin: 10px;
		& img{
			padding: 23%;
		}	
	}
	.footer .wrapper p{
		color: #8b8b8b;
		font-family: "univers-light-normal";
		font-size: 15px;
		font-weight: 300;
		line-height: 45px;
	}
	